<%- include("./head.ejs")%>
<section id=""  class="clients-say">
    <div class="container">
        <div class="section-header">
            <!-- <h2>Login</h2> -->
        </div>

        <div class="container mt-20">


            <form action="login" method="post">

                <div class="container ">
    
                    
                    <div class="row mb-40 form-group ">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <h1>Welcome!!!!</h1>
                            <h2  class="font-black-bold" style="text-decoration: underline;" >Graffers ID</h2>  
                            <div class="col-md-5"></div>
                        </div>
                    </div>
                    
    
                <div class="row form-group mt-20">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label  class="font-black-bold" for="">User name</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control black-border" value="" name="username" type="text">
                    </div>
                    <div class="col-md-2"></div>
                </div>


                <div class="row form-group">   
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label class="font-black-bold" for="">Password</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control black-border" name="password" value="" type="password">
                    </div>
                    <div class="col-md-2"></div>
                </div>




                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    
                        <button  class="btn gradient-color btn-style company">Login</button>
                    
                </div>
                <div class="col-sm-5"></div>

            </form>

    </div>
    <span id="owner" >
        <p>Created By - <b>Aashish Khandelwal</b></p>
        <p>Contact No. - 9691536456 , 9406600788</p>
        <p>Email - <b>ashish.khandelwal201@gmail.com</b></p>
        <hr>
       </span>
    <br><br><br><br>    
    
    </div>

</section>

<%- include("./footer.ejs")%>
